<!DOCTYPE html>

<title>Blog</title>

<html><style>
    body{
        overscroll-behavior: none;

        text-align: center;
        background-color: rgb(240, 240, 255);
        font-family: sans-serif;

        margin-right: 80px;
        margin-left: 80px;
    }

    .fcc-btn {
        text-align: center;
        background-color: royalblue;
        color: white;
        padding: 15px 25px;
    }

    .fcc-btn:hover {
        background-color: rgb(55, 55, 225);
        font-size: large;
    }
</style></html>

<h1 class="center">Ed Sheeran Blog</h1>

<br/><br/>

<body>
    The discography of English singer-songwriter Ed Sheeran consists of five studio albums, 
    one compilation album, seventeen extended plays, 
    one video album, sixty-five singles (including twenty-eight as a featured artist), 
    eight promotional singles, one box set, and seventy-one music videos. 
    As of October 2021, Sheeran has sold over 150 million records worldwide, 
    making him one of the best-selling music artists in history.
</body>

<br/><br/>

<body>
    Ed Sheeran's musical style has been described as pop, folk-pop, and soft rock. 
    Sheeran also incorporates rap into his music. 
    Sheeran's earliest memories include listening to the records of Joni Mitchell, 
    Bob Dylan and Elton John's Greatest Hits. 
    According to Sheeran, the album that introduced him to music was Van Morrison's Irish Heartbeat. 
    During his childhood his father took him to live concerts that would inspire his musical creations.
</body>

<br/><br/><br/>

<body>
    Music journalist Alexis Petridis has stated that Ed Sheeran "brought pop back down to earth" with his music style, 
    introducing himself "touting an even more austere version of Coldplay's dressed-down authenticity: one unassuming man, 
    his guitar and a loop pedal". Noting him as "one of the most influential" artists of his generation, 
    as he spawned "endless imitators", Petridis remarked that the music charts were "packed with Sheeran-alikes" after X (his album), 
    describing it as "the wave of earnest, dressed-down, boy-next-door troubadours" that reached critical mass. 
    Similarly, The Guardian writer Laura Snapes cited him as "the godfather of the current crop of singer-songwriters" in 2019, 
    stating that Sheeran inspired "troubadours" to enter the music charts, 
    and marked "the calcification of the everyman male pop star", 
    and the end of record labels marketing them "exclusively to teenage girls and their mums."
</body>

<br/><br/><br/>

<a href="{% url 'index' %}"><div class="fcc-btn">Return Home</div></a>

<!-- tevinp@hyperiondev.com -->